body{

    background-image: url(./fondo\ bonito.jpg);

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
    background-color: #f0f0f0; 
  }

  .mensaje {
    font-size: 48px;
    text-align: center;
    color: #f7f7f7; 
    background-color: #961111; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    font-family: 'Times New Roman', Times, serif;
    transform: translate(50%, -20%);
  }
  .mister{
    max-width: 60%; 
    transform: translate(-50%, -20%); 
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .mensaje-2{

    font-size: 48px;
    text-align: center;
    color: #f7f7f7; 
    background-color: #961111; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    font-family: 'Times New Roman', Times, serif;
    transform: translate(-50%, 300%);

  }

  .reloj{

    max-width: 15%; 
    transform: translate(-50%, 180%); 
    position: absolute;
    top: 50%;
    left: 50%;

  }

  .pepsi{
    max-width: 50%; 
    transform: translate(-130%, -30%); 
    position: absolute;
    top: 50%;
    left: 50%;
  }
